* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.darkmode {
  background-color: black;
  color: white;
}

header {
  height: 5rem;
  width: 100%;
  background-color: rgba(0, 255, 255, 0.055);
  backdrop-filter: blur(8px);
  position: fixed;
}

.hero {
  width: 100%;
  height: 80vh;
}

.skills-section h2 {
  padding-top: 1em;
  font: 4em "sans-serif";
}

.line,
.line_wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  height: 1px;
  width: 70%;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.2);
}

.line_wrapper {
  background-color: rgba(255, 255, 255, 0);
  width: 101%;
}


