.tictac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.CurrentlyPlaying {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 2.5em;
  font-family: "Inter";
}

.cell {
  --color-prim: rgb(0, 81, 255);
  background: none;
  border: none;
  padding: 2em;
  font-size: 2em;
  width: 5em;
  height: 5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-prim);
  border-radius: 0;
  transition: all 200ms ease;
  user-select: none;
  color: var(--color-prim);
}

.cell[data-playing="X"] {
  color: red;
}

.cell[data-playing="Y"] {
  color: cyan;
}

.won {
  pointer-events: none;
  cursor: default;
}

.currentMove {
  color: rgb(134, 235, 255);
}

.row1,
.row2,
.row3 {
  display: flex;
  button:nth-child(3) {
    border-right: none;
  }
  button:nth-child(1) {
    border-left: none;
  }
}

.row1 button {
  border-top: none;
}

.row3 button {
  border-bottom: none;
}

.game_info {
  --mar: 6em;
  position: absolute;
  right: var(--mar);
  top: var(--mar);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
